<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta property="og:image" content="https://wolditco.ru/favicon2.png">
      <meta name="description" content="Добро пожаловать на наш форум! Здесь вы можете обсуждать различные темы по программированию, разработке и не только. Создавайте посты, поделитесь своим опытом, находите ответы на свои вопросы. Присоединяйтесь к сообществу и общайтесь с единомышленниками!">
      <meta name="keywords" content="разработка, форум,кибербезопасность">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(93033481, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93033481" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
  <style>
        body {
        background-color: #4d4d4d;
      }

      .card-body {
        border: 1px solid #0dcad4;
        background-color: #0dcad4;
      }

</style>

  <body>
    <div class="jumbotron text-center bg-dark text-light">
      <h1 class="display-4">It - Форум</h1>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h2 class="card-title">Форум</h2>
              <a href="/forum" class="btn btn-primary btn-lg stretched-link">Перейти</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h2 class="card-title">Chat Gtp</h2>

              <a href="/chat_gtp" class="btn btn-primary btn-lg stretched-link">Перейти</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h2 class="card-title">Контакты</h2>
              <ul class="list-unstyled">
                <li><a href="https://t.me/it_forum_rus" class="h4 text-primary">Telegram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>